# Don't hoist! Keep the node_modules folder outside of Bazel similar to the node_modules created by rules_js
hoist=false
# Don't run life cycle hooks due to security implications
ignore-dep-scripts=true
strict-peer-dependencies=false
save-prefix=
engine-strict=true
prefer-frozen-lockfile=true
package-manager=pnpm@10.15.0
resolution-mode=highest
ignore-scripts=false
strict-peer-dependencies=true
